body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.row {
  height: 60px;
}
.row td {
  vertical-align: middle!important;
}
.customer-row {
  cursor: pointer;
}
.drink-row {
  cursor: pointer;
}
